@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

section{
  padding: 50px 0;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.pageTitle{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.catalog{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.productFoto{
  position: relative;
  z-index: 4;
  float:left;
  width: 165px;
  height: 165px;
  object-fit: cover;
  object-position: top;
  margin-right: 20px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  shape-outside: circle(50%);
  transition: width .3s ease-in-out, height .3s ease-in-out, shape-outside .3s ease-in-out, border-radius .3s ease-in-out, margin-bottom .3s ease-in-out;
}

.productName{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  transition: opacity .3s ease-in-out;
}

.productPrice{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  transition: opacity .3s ease-in-out;
}

.productDescription{
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  text-align: justify;
  background: var(--background);
  transition: background .3s ease-in-out, padding .3s ease-in-out;
}

.product{
  position: relative;
  max-height: 430px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: padding .3s ease-in-out;
  &:hover{
    padding: 0;
    .productFoto{
      z-index: 6;
      width: 100%;
      height: 100%;
      shape-outside: initial;
      border-radius: 5px;
    }
    .productDescription{
      z-index: 5;
      padding: 10px;
    }
    .productName,
    .productPrice{
      opacity: 0;
    }
  }
}
